<p>
        <mat-toolbar color="primary" class="navbar">
                <p>Céline BERTAUD, développeuse web</p>
                <span class="spacer"></span>
                <div class="actions">
                        <button routerLink='/experience'>Expérience</button>
                        <button routerLink='/competences'>Compétences</button>
                        <button routerLink='/loisirs'>Loisirs</button>
                </div>
                <span class="spacer"></span>
                <button class="home" [routerLink]="['/accueil']"><span class="material-icons">home</span></button>
        </mat-toolbar>
</p>