<div class="timeline"> 
    <mzd-timeline>
        <mzd-timeline-content>
            <b>2016</b> : Obtention du Bac Economique et social, mention Bien.
        </mzd-timeline-content>
        <mzd-timeline-content>
            <b>2016</b> : Entrée à Ynov Toulouse.
        </mzd-timeline-content>
        <mzd-timeline-content>
            <b>Juillet 2017</b> : Stage chez Pinterac en tant que Développeur Web Junior.
        </mzd-timeline-content>
        <mzd-timeline-content>
            <b>Juillet 2018</b> : Stage chez Chausson Matériaux en tant que Développeur Fullstack Junior.
        </mzd-timeline-content>
        <mzd-timeline-content>
            <b>2018</b> : Obtention du Bachelor Informatique et Systèmes d'Information chez Ynov Toulouse.
        </mzd-timeline-content>
        <mzd-timeline-content>
            <b>2018</b> : Début d'alternance chez Chausson Matériaux.
        </mzd-timeline-content>
        <mzd-timeline-content>
            <b>2019</b> : Entrée en Master chez Ynov Toulouse.
        </mzd-timeline-content>
        <mzd-timeline-content>
            <b>2021</b> : Obtention du Master Expert Developpement Web chez Ynov Toulouse. </mzd-timeline-content>
    </mzd-timeline>

    <!-- https://github.com/mazid1/ngx-mzd-timeline -->